 
.lwOuterBox {
  width: 100%;
  /* overflow-y: hidden; */
}
.lwBox {
  height: var(--control-height);
  display: flex;
  border: var(--control-border);
  border-radius: var(--control-border-radius);
  padding: 0;
  margin: 0 0 8px 0;
  position: relative;
}
.lwBox:focus-within {
  border-color: white;
}
.lwSearchText {
  color: var(--control-text-interim-color);
  width: 100%;
  min-width: 3em;
  border: 0;
  border-top-left-radius: var(--control-inner-border-radius);
  border-bottom-left-radius: var(--control-inner-border-radius);
  background-color: var(--control-bg-color);
  padding-left: 8px;
  font-family: var(--font-family);
  font-size: var(--control-input-text-size);
  font-variant-numeric: tabular-nums;
  outline: none;
}
.lwSearchText::placeholder {
  color: rgb(192,192,192);
  font-weight: 300;
  font-style: italic;
}
.lwSearchTextNoMatch {
  text-decoration: var(--control-text-not-valid);
}
.lwSearchTextSelected {
  color: var(--control-text-color);
}
.lwSearchText:hover, .lwSearchText:focus {
  background-color: var(--control-bg-color-hover);
}
.lwSearchText:disabled {
  background-color: var(--control-bg-color);
}
.lwWait {
  position: absolute;
  top: 1px;
  left: calc( 50% - 14px );
  background-color: transparent;
  width: 28px;
  height: 28px;
  display: none;
}
.lwWait img {
  width: 100%;
  height: auto;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to   {transform: rotate(359deg);}
}

.lwList { /* list container DIV */
  font-family: var(--font-family);
  position: absolute;
  overflow-y: scroll;
  overflow-x: auto;
  top: 100%;
  left: 1%;
  width: 98%;
  margin: 0;
  visibility: hidden;
  /* z-index: 1; */
}
.lwList ul {
  list-style-type: none;
  padding-left: 0px;
  background-color: var(--control-bg-color);
  margin: 0;
  font-size: 14px;
}
.lwList li {
  border-bottom: 1px solid var(--control-bg-color-hover);
  padding-left: 8px;
  font-weight: 300;
  color: var(--control-text-color);
  outline: none;
}
.lwList li:hover, .lwList {
  color: white;
  background-color: var(--control-bg-color-hover);
  cursor: pointer;
}
.lwList li.lwListSelected {
  background-color: rgb(0,0,80);
}
.lwList li.lwListSelected:hover {
  background-color: rgba(0,0,128,1);
}
.lwList li.lwListHighlight {
  color: var(--control-bg-color);
  background-color: var(--control-text-color);
}
.lwList li.lwListHighlight.lwListSelected {
  color: rgb(0,0,80);
}
.lwButton {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-top-right-radius: var(--control-inner-border-radius);
  border-bottom-right-radius: var(--control-inner-border-radius);
  cursor: pointer;
  color: var(--control-text-color);
  box-sizing: border-box;
  outline: none;
  max-width: 100%;
  min-height: 0;
  margin: 0;
  width: 30px;
  background-color: var(--control-bg-color);
  position: relative;
  border: 0;
}
.lwButtonIcon {
  width: 100%;
  color: var(--control-text-color);
  stroke: var(--control-text-color);
  pointer-events: none;
}
.lwButtonShow {
  composes: lwButtonIcon;
  height: 100%;
}
.lwButtonHide {
  composes: lwButtonIcon;
  height: 0%;
}
.lwButton:hover {
  background-color: var(--control-bg-color-hover);
  color: var(--control-text-color-hover);
}
.lwButton:disabled {
  background-color: var(--control-bg-color);
}
.lwButtonIcon:hover {
  stroke: var(--control-text-color-hover);
}
.lwNoHover {
  pointer-events: none;
}
