 
:root{
  /* common to everything */
  --font-family:Montserrat, Roboto, sans-serif;
}

:root{
  /* general styles for controls */
  --control-height:28px;
  --control-border:2px solid #bbbbbb;
  --control-border-radius:7px;
  --control-inner-border-radius:6px; /* subtract border width */
  --control-bg-color:rgb(51,51,51); /* #333333 */
  --control-bg-color-hover:rgb(80,80,80); /* #505050 */
  --control-text-color:rgb(238, 238, 238); /* #eeeeee */
  --control-text-interim-color:rgb(160,160,255); /* #a0a0ff */
  --control-text-not-valid:underline wavy;
  --control-text-color-hover:white;
  --control-input-text-size:16px;
}
