
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  font-family: Montserrat;
  font-family: var( --font-family );
}
#container {
  max-width:25em;
  padding:4px 8px 8px 8px;
  background-color:rgb(0,0,0);
  color:silver;
}
#result {
  margin:2px 2px 0 0;
  color:white;
}
#result pre {
  font-size:8px;
  margin:2px 2px 0 0;
  padding:4px 0px 0px 6px;
  white-space:pre-wrap;
}
#logData pre {
  font-size:8px;
  margin:2px 2px 0 0;
  padding:4px 0px 0px 6px;
  white-space:pre-wrap;
  box-sizing:border-box;
  width:95%;
}
